body {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(255,255,255,1) 100%);
}

.container{
  margin: 10vh;
  width: 100%;
}

.service-info{
  width: 100%;
    min-height: 50vh;
}
.cover  {
  height: 50vh;
  width: 100%;
  padding: 20px 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
/* label underline focus color */
.flex-form input[type="search"]:focus {
     border-bottom: 1px solid #fff !important;
     box-shadow: 0 1px 0 0 #fff !important;
}
.flex-form input[type="search"] {
     border-bottom: 1px solid #fff !important;
     box-shadow: 0 1px 0 0 #fff !important;
}
   
.flex-form input[type="submit"] {
  background: #808080;
  color: #fff;
  border: 1px solid #808080;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: #484848;
  border: 1px solid #484848;
}

.flex-form {
    background: white;
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 800px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 800px;
}

.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 800px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.check{
  height:50vh;
}

